.section-clients {
  padding: 170px 0 190px 0;
}

.clients {
  &__main-text {
    font-size: 40px;
    line-height: 1.1em;
    font-weight: 600;
    max-width: 1150px;
    padding: 70px 0 90px 0;
    span {
      text-decoration: underline;
    }
  }
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item {
      max-width: 20%;
    }
  }
}