<!-- footer start -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer-row">
          <a href="index.html" class="logo">
            <img src="img/png/logo-white.png" alt="Sem Growth">
          </a>
          <nav class="nav">
            <ul class="nav-list">
              <li><a href="conversion-rate-optimization-agency.html">Services</a></li>
              <li><a href="law-firm-marketing.html">Industries</a></li>
              <li><a href="resources.html">Resources</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
          </nav>
          <ul class="social-list">
            <li class="social-list__item">
              <a href="https://twitter.com/" target="_blank" class="social-list__link">
                <svg class="social-icon">
                  <use xlink:href="img/svg/sprite-svg/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="https://linkedin.com/" target="_blank" class="social-list__link">
                <svg class="social-icon">
                  <use xlink:href="img/svg/sprite-svg/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="https://youtube.com/" target="_blank" class="social-list__link">
                <svg class="social-icon">
                  <use xlink:href="img/svg/sprite-svg/sprite.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-copyright">
          <p>&copy; 2020 Copyright SEMGrowth.com. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->