<!-- header start -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header__content">
          <a href="index.html" class="logo">
            <img src="img/svg/logo.svg" alt="Sem Growth">
          </a>
          <nav class="nav">
            <ul class="nav-list">
              <li><a href="services.html">Services</a></li>
              <li><a href="industries.html">Industries</a></li>
              <li><a href="resources.html">Resources</a></li>
              <li><a href="careers">Careers</a></li>
            </ul>
          </nav>
          <a href="tel:833-SEM-GROW" class="phone">
            <img src="img/svg/phone-icon.svg" alt="phone icon">
            833-SEM-GROW</a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header end -->