<!-- header start -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header__content">
          <a href="index.html" class="logo">
            <img src="img/svg/logo.svg" alt="Sem Growth">
          </a>
          <nav class="nav">
            <ul class="nav-list">
              <li><a href="conversion-rate-optimization-agency.html">Services</a>
                <ul class="sublist">
                  <li><a href="ppc-agency.html">PPC Agency</a></li>
                  <li><a href="seo-agency.html">SEO Agency</a></li>
                  <li><a href="cro-agency.html">CRO Agency</a></li>
                </ul>
              </li>
              <li><a href="law-firm-marketing.html">Industries</a>
                <ul class="sublist">
                  <li><a href="ecommerce-agency.html">Ecommerce Agency</a></li>
                  <li><a href="legal.html">Legal</a></li>
                </ul>
              </li>
              <li><a href="resources.html">Resources</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
          </nav>
          <a href="tel:833-SEM-GROW" class="phone">
            <img src="img/svg/phone-icon.svg" alt="phone icon">
            833-SEM-GROW
          </a>
          <div class="humburger">
            <span class="humburger__item"></span>
            <span class="humburger__item"></span>
            <span class="humburger__item"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header end -->