// project colors
$white: #ffffff;
$black: #000000;
$textColor: $black;
$primary: #006290;
$pink: #FF003D;
$borderColor: rgba($black, .15);
$blue : rgba(#C6DBF8, .5);
$grayLight: rgba(#c4c4c4, .15);
$grayLighter: rgba(#ffffff, .4);
$grayText: rgba($black, .3);
// timing
$hover-duration: .4s;
$duration: 1.4s;
$timing: cubic-bezier(.7, 0, .3, 1);

$transition: $duration,
$timing;